@media screen and (max-width: 480px) {


    @font-face {
        font-family: "Poppins Thin";
        src: url('./assets/fonts/Poppins-Thin.ttf');
    }

    @font-face {
        font-family: "Poppins Regular";
        src: url('./assets/fonts/Poppins-Regular.ttf');
    }

    @font-face {
        font-family: "Poppins SemiBold";
        src: url('./assets/fonts/Poppins-SemiBold.ttf');
    }

    .seats {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        /* border: 1px solid yellow; */
        color: white;
        padding: 2rem;
    }

    .choose-seat-heading {
        font-family: "Poppins SemiBold";
        padding-bottom: 2rem;
        text-align: center;
    }

    .seat-info-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 1px solid blue; */
    }

    .seat-info-icons img {
        width: 15px;
    }

    .available-icon {
        background-color: #4962BB;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .unavailable-icon {
        border: 2px solid #4962BB;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected-icon {
        background-color: #DB8696;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seat-info-text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 8pt;
        /* border: 1px solid green; */
        font-family: "Poppins Thin";
        letter-spacing: 0;
    }

    .screen {
        padding-top: 4rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .screen img {
        width: 350px;
    }





    .seat-map {
        display: inline-grid;
        grid-template-rows: 30px 30px 30px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px;
        grid-gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .select-seat {
        background-color: #4962BB;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .unavailable {
        border: 2px solid #4962BB;
        background-color: transparent;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected {
        background-color: #DB8696;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected img {
        width: 15px;
    }


    .tickets-price p {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1rem;
        margin: 0;
        font-family: "Poppins Thin";
    }

    .tickets-price {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #personal-details {
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
    }

    #personal-details input {
        border: 1px solid #4962BB;
        background-color: transparent;
        width: 300px;
        height: 50px;
        color: white;
        padding: 10px;
        font-size: 12pt;
        font-family: "Poppins Thin";
    }

    #personal-details label {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Poppins Regular";
    }

    .submit-button-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .submit-button {
        width: 180px;
        height: 50px;
        background-color: white;
        border: none;
        font-family: "Poppins SemiBold";
        font-size: 12pt;
        letter-spacing: 2pt;
    }
}

@media screen and (min-width: 480px) {


    @font-face {
        font-family: "Poppins Thin";
        src: url('./assets/fonts/Poppins-Thin.ttf');
    }

    @font-face {
        font-family: "Poppins Regular";
        src: url('./assets/fonts/Poppins-Regular.ttf');
    }

    @font-face {
        font-family: "Poppins SemiBold";
        src: url('./assets/fonts/Poppins-SemiBold.ttf');
    }

    .seats {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        /* border: 1px solid yellow; */
        color: white;
        padding: 2rem;
    }

    .choose-seat-heading {
        font-family: "Poppins SemiBold";
        padding-bottom: 2rem;
        text-align: center;
    }

    .seat-info-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 1px solid blue; */
    }

    .seat-info-icons img {
        width: 15px;
    }

    .available-icon {
        background-color: #4962BB;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .unavailable-icon {
        border: 2px solid #4962BB;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected-icon {
        background-color: #DB8696;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seat-info-text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 8pt;
        /* border: 1px solid green; */
        font-family: "Poppins Thin";
        letter-spacing: 0;
    }

    .screen {
        padding-top: 4rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .screen img {
        width: 350px;
    }





    .seat-map {
        display: inline-grid;
        grid-template-rows: 30px 30px 30px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px;
        grid-gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .select-seat {
        background-color: #4962BB;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .unavailable {
        border: 2px solid #4962BB;
        background-color: transparent;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected {
        background-color: #DB8696;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected img {
        width: 15px;
    }


    .tickets-price p {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1rem;
        margin: 0;
        font-family: "Poppins Thin";
    }

    .tickets-price {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #personal-details {
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
    }

    #personal-details input {
        border: 1px solid #4962BB;
        background-color: transparent;
        width: 300px;
        height: 50px;
        color: white;
        padding: 10px;
        font-size: 12pt;
        font-family: "Poppins Thin";
    }

    #personal-details label {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Poppins Regular";
    }

    .submit-button-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .submit-button {
        width: 180px;
        height: 50px;
        background-color: white;
        border: none;
        font-family: "Poppins SemiBold";
        font-size: 12pt;
        letter-spacing: 2pt;
    }
}